.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--var-viz-background);
  padding: 16px 24px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 4px 0px #0000001a;
  height: 56px;
}

.logo {
  max-height: 32px;
  max-width: 200px;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.75rem;
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    a {
      font-weight: 500;
      font-size: 14px;
      color: var(--var-root-color);
      cursor: pointer;
      &.active {
        color: var(--var-button--secondary-background);
        background-color: white;
        border-radius: 4px;
        padding: 2px 6px;
      }
      &:hover {
        text-decoration: none;
        color: var(--var-button--secondary-background);
      }
      &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: none;
        &:hover {
          color: var(--var-root-color);
        }
      }
    }
  }
}
.headerActions {
  display: flex;
  align-items: center;
  gap: 16px;
  svg {
    fill: var(--var-root-color) !important;
    cursor: pointer;
    rect {
      stroke: var(--var-root-color);
    }
  }
}
