.layout {
  //min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4px);
  flex: 1;
}
.tabContent {
  flex: 1;
  display: flex;
  position: relative;
  min-height: 0;
}

.tabPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; // Prevent interaction with hidden tab

  display: flex;
  flex-direction: column;

  &.active {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; // Enable interaction with active tab
  }
}

.tabsContainer {
  background: var(--var-root-background);
  .tabs {
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 24px auto;
    .tab {
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 12px;
      line-height: 20px;
      border-bottom: 1px solid #eaedf2;
      transition: all 0.3s ease;
      //color: var(--var-root-color);
      color: black;
      &.active {
        color: var(--var-button--secondary-background);
        border-bottom: 2px solid var(--var-button--secondary-background);
      }
    }
  }
}
